.item {
  display: flex;
  gap: 10px;
}
.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffca42;
  margin-top: 5px;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.48px;
  color: #ffffff;
}
.descr {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #b4c7e7;
}
