.title {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #1b3764;
  padding: 60px 0 20px;
}
.decor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.decor span {
  height: 3px;
  width: 50px;
  background: #ffca42;
}
